
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.node-context{
    width: 100%;
    height: 100%;
}

.node-line-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.node-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

.node{
    position: absolute;
    width: 100px;
    min-width: 20px;
    max-width: 100%;
    background-color: var(--main-element-color0);
    color: var(--main-font-color0);
}

.node-title{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
    cursor: default;
    border-bottom: 1px solid var(--main-element-color1);
}

.node-title-rename{
    width: 100%;
}

.node-input-context, .node-output-context{
    user-select: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.node-input-context{
    float: left;
}

.node-output-context{
    float: right;
}

.node-io-button{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.node-input, .node-output{
    margin-top: 5px;
    margin-bottom: 5px;
}

.node-input{
    margin-left: -7.5px;
}

.node-output{
    margin-right: -7.5px;
}

.node-input > .node-io-button{
    background-color: #7A5FFF;
}

.node-output > .node-io-button{
    background-color: #01FF89;
}