
.node-context{
    width: 100%;
    height: 100%;
}

.node-line-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}

.node-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

.node{
    position: absolute;
    width: 100px;
    min-width: 20px;
    max-width: 100%;
    background-color: var(--main-element-color0);
    color: var(--main-font-color0);
    border-radius: 2px;

    user-select: none;
    cursor: default;
}

.node-title{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: center;
    user-select: none;
    cursor: default;
    border-bottom: 1px solid var(--main-element-color1);
}

.node-title-rename{
    width: 100%;
}

.node-input-context, .node-value-context, .node-output-context{
    float: left;
    user-select: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-height: 1px;
}

.node-input-context, .node-output-context{
    width: 15px;
}

.node-value-context{
    width: calc(100% - 30px);
}

.node-value{
    margin-top: 10px;
    margin-bottom: 10px;
}

.node-value:first-child{
    margin-top: 20px;
}

.node-value-title{
    font-size: 10px;
    color: #fff;
}

.node-value-container{

}

.node-value-in{
    width: 100%;
    border-radius: 5px;
}

.node-io-button{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

.node-input, .node-output{
    margin-top: 5px;
    margin-bottom: 5px;
}

.node-input{
    margin-left: -7.5px;
}

.node-output{
    margin-left: 7.5px;
}

.node-input > .node-io-button{
    background-color: #7A5FFF;
}

.node-output > .node-io-button{
    background-color: #01FF89;
}

.node-footer{
    width: 100%;
    text-align: right;
}

.node-resize{
    display: block;
    width: 0;
	height: 0;
	border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    margin-left: calc(100% - 12px);
    margin-bottom: 2px;
}